<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="css/users.css">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="headerku">
                        <h1>LOG IN</h1>
                    </div>
                    <div class="card-body">

                        <form action="/login" method="POST" novalidate class="validation-form">
                            <div class="mb-3">
                                <label class="form-label" for="username">Username: </label>
                                <input class="form-control" type="text" id="username" name="username"
                                    placeholder="Insert Username" autofocus required>
                                <div id="validationUsername" class="invalid-feedback">
                                    Username is Required.
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" name="password" id="password"
                                    placeholder="Insert Password" required>
                                <div id="validationUsername" class="invalid-feedback">
                                    Password is Required.
                                </div>
                            </div>

                            <div class="mb-3 d-flex justify-content-between">
                                <button class="btn btn-warning" type="submit">Sign In</button>
                                <a class="btn btn-dark" href="/">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>